<%= form_for(@favorite_site) do |f| %>
  <% if @favorite_site.errors.any? %>
    <div id="error_explanation">
      <% @favorite_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="panel-body">
      <%= form_for @favorite_edit_form, url: polymorphic_path(@favorite_edit_form.favorite_site), method: (@favorite_edit_form.favorite_site.persisted?  ? :patch : :post), html: { class: 'form-horizontal'} do |f| %>
        <div class="form-group">
          <%= f.label :admin_user, "ユーザー名:", class: 'control-label col-lg-3'  %>
          <%= f.collection_select :admin_user, Admin::User.all, :id, :name, {include_blank: false }, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :url, "URL:", class: 'control-label col-lg-3'  %>
          <%= f.text_field :url, class: 'form-control', placeholder:'http://~' %>
        </div>

        <div class="form-group">
          <div class="col-lg-9">
            <%= f.label :rate, "評価:", class: 'control-label'  %>
          </div>
          <% FavoriteSite::STAR.each {|key, value| %>
          <div class="col-lg-9">
            <label class="radio-inline">
              <%= f.radio_button :rate, value %>
              <% image = rate_image(value) %>
              <%= image_tag(image, :size => "115x25", :alt => key) if image.present? %>
            </label>
          </div>
          <% } %>
        </div>

        <div class="form-group">
        <% if controller.action_name == 'edit' %>
          <div class="control-label">
            <%= f.submit "更新する", class: "btn btn-primary col-lg-1 col-lg-offset-1" %>
          </div>
        <% else %>
          <div class="control-label">
            <%= f.submit "新規登録", class: "btn btn-primary col-lg-1 col-lg-offset-1" %>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
