<h1>Listing favorite_sites</h1>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_for @favorite_form, url: :search_favorite_sites, html: { class: 'form-horizontal'} do |f| %>
        <fieldset>
          <legend>検索条件</legend>
          <div class="form-group">
            <%= f.label :name, "ユーザー名:", class: 'control-label col-lg-3' %>
            <div class="col-lg-6">      
              <%= f.text_field :user, class: 'form-control', placeholder:'ユーザー名' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :url, "URL:", class: 'control-label col-lg-3' %>
            <div class="col-lg-6">     
              <%= f.text_field :url, class: 'form-control', placeholder:'http://~' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :rate, "評価:", class: 'control-label col-lg-3' %>
            <div class="col-lg-6">     
              <%= f.text_field :rate, class: 'form-control', placeholder:'1' %>
            </div>
          </div>

          <button type="submit" class="btn btn-primary col-sm-1 col-md-offset-8">検索</button>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<div class"row">
  <div class="col-lg-offset-1 col-lg-10">
    <table class="table">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>URL</th>
          <th>評価</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @favorite_sites.each do |favorite_site| %>
          <tr>
            <td><%= favorite_site.admin_user.name %></td>
            <td><%= favorite_site.url %></td>
            <td><%= favorite_site.rate %></td>
            <td><%= link_to 'Show', favorite_site %></td>
            <td><%= link_to 'Edit', edit_favorite_site_path(favorite_site) %></td>
            <td><%= link_to 'Destroy', favorite_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-md-offset-1">
  <%= link_to 'New Favorite site', new_favorite_site_path %>
  </div>
</div>